.header {
  width: 100%;
}
.content {
  width: 100%;
  height: calc(100vh - 65px);
  max-height: calc(100vh - 65px);
  color: #fff;
}

.app-background{
  background: url('https://ajaya-m-kumar.github.io/geek-trust-challenges/assets/images/background.jpg') no-repeat;
  background-size: 100vw 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}